body{
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}
button{
    border-style: none;
}
#nav-bar{
    display: inline-block;
    width: 100%;
    background-color:white;
    text-align: center;
    margin-bottom: 0px;
}
.nav-element{
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
}
#search{
    margin-right: 0;
}
#search-box{
    width: 600px;
    height: 24px;
    margin-right: 0;
}
#search-icon{
    height: 24px;
}
#upload-icon{
    margin-left: 100px;
}
#signin-button{
    background-color: #167AC6;
    color: white;
    width: 70px;
    height: 34px;
    border-radius: 5px;
    border: 0px;
    
    
}
.chose-lang{
    width: 95%;
    margin: 0 auto;
    position: relative;
}
#title-chose-lang{
    background-color: #167AC6;
 
}
#title-chose-lang p{
    font-size: 16px;
    font-weight: bold;
    color: white;
   
}
#title-chose-lang img{
    vertical-align: middle;
    padding-right: 5px;
}
#x-icon{
    position: absolute;
    right: 10px;
}
#support-text{
    background-color: white;
    border: 2px #167AC6 solid;
    margin-top: -18px;
}
#discription-chose-lang span{
color:#167AC6 ;
cursor:no-drop;
}
#learn-more{
    position: absolute;
    right: 10px;
    cursor:default;
}
#learn-more a{
    text-decoration: none;
}
#youtube-video{
    width:640px; 
    height:360px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.cusor {
    cursor:pointer;
    
}
.bottom-icon{
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    border-style: none;
    
}

.odin{
    padding-top: 2px;
    
}

.subscribe-channel-button{
    float: left;
    margin-right: 10px;

}

#subscribe{
    height: 30px;
    margin-top: -15px;
    
}

#like{
    position: absolute;
    right: 10px;
    display: inline;
}

#grouping{
    width: 640px;
    position: relative;
   float: left;
   margin-right: 30px;
   z-index: 2;
}
.video-player{
    background-color:white;
}
.side-bar{
    margin-left: 30px !important;
    background-color: white;
    padding-bottom: 6px;
    }
    
#autoplay{
    color:gray;
    position: absolute;
    right: 90px;
    
}
#text-sidebare{
    margin-top: 5px;
    vertical-align: middle;
}
#views{
    position: absolute;
    right: 10px;
    top: 440px;
    font-size: 22px;
}
.video-image{
    position: relative;

}
.make-grid{
    position: absolute;
    right: 160px;
    top: 2px;
    width: 200px;
   
}
.make-grid p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    text-decoration: none;
    
}
.video-sug{
    position: relative;
    width: 100%;
}