body{
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}
button{
    border-style: none;
    background-color: white;
}
.nav-bar{
    display: inline-block;
    width:100%;
    background-color:white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    z-index: 2;
}
.nav-element{
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
}
.search{
    margin-right: 0;
}
.search-box{
    width: 600px;
    height: 24px;
    margin-right: 0;
}
.search-icon{
    height: 28px;
    border: 1px solid gray;
    margin-left: -7px ;
    margin-bottom: 2px;
}
.search-icon:active{
    border: 1px solid #167AC6;
}
.upload-icon{
    margin-left: 100px;
}
.signin-button{
    background-color: #167AC6;
    color: white;
    width: 70px;
    height: 34px;
    border-radius: 5px;
    border: 0px;
    
    
}
.chose-lang{
    width:100%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin: 50px 10px 10px 5px;
    position: relative;
}
.title-chose-lang{
    background-color: #167AC6;
 
}
.title-chose-lang p{
    font-size: 16px;
    font-weight: bold;
    color: white;
   
}
.title-chose-lang img{
    vertical-align: middle;
    padding-right: 5px;
}
.x-icon{
    position: absolute;
    right: 10px;
}
.support-text{
    background-color: white;
    border: 2px #167AC6 solid;
    margin-top: -18px;
}
.discription-chose-lang span{
color:#167AC6 ;
cursor:no-drop;
}
.learn-more{
    position: absolute;
    right: 10px;
    cursor:default;
}
.learn-more a{
    text-decoration: none;
}
.video-player{
    width: 700px;
}
.youtube-video{
    width:100%; 
    height:360px;
}
.container{
    width:1200px;
    margin: 0 auto;
}
.cusor {
    cursor:pointer;  
}
.chanel-buttons{
    margin-top: 8px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
}
.bottom-icon{
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    border-style: none;
    
}

.odin{
    padding-top: 2px;
    margin-block-end: 0;
}

.subscribe-channel-button{
    float: left;
    margin-right: 10px;

}

.subscribe{
    height: 26px;
    margin-top: 3px;
    width: 120px;
    padding: 0;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background:red url(image/subscribe.svg) no-repeat scroll 6px 3px;
    background-size: 21px 21px;
    border-radius: 5px;
}
.number-subscribed{
    border: 1px solid gray;
    padding: 3px;
    border-left: 0;
    margin-left: -6px;
    padding-bottom: 4px;
    
}
.like{
    position: absolute;
    right: 10px;
    display: inline;
}

.grouping{
    width: 700px;
    position: relative;
   float: left;
   margin-right: 10px;
   z-index: 2;
}

.side-bar{
    margin-left: 2px !important;
    position: relative;
    background-color: white;
    padding-bottom: 6px;
    width: 420px;
    float: left;
    padding-left: 5px;
}
.up-next{
    position: absolute;
    top: 11px;
}
 .aut{
    position: absolute;
    right: 170px;
    top: 11px;
 }   
.autoplay{
    color:gray;
    position: absolute;
    right: 90px;
    top: 5px;
}

.text-sidebare{
    margin-top: 5px;
    
}
.text-sidebare p{
    margin-top: 11px;
    margin-left: 2px;
}
.views{
    position: absolute;
    right: 20px;
    top: 94px;
    font-size: 22px;
    padding-left: 40px;
    border-bottom: 2px solid #167AC6;
}
.video-image{
    position: relative;

}
.make-grid{
    position: absolute;
    right: 50px;
    top: 2px;
    width: 185px;
   
}
.make-grid p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    text-decoration: none;
    
}
.video-sug{
    position: relative;
    width: 100%;
}
